* {
    text-rendering: geometricPrecision !important;
    -webkit-font-smoothing: antialiased !important;
}

/* -- charter -- */
@font-face {
    font-family: Charter-WebFont;
    font-weight: normal;
    font-style: normal;
    src: url(/Resources/Fonts/Charter-Regular.woff2);
}

@font-face {
    font-family: Charter-WebFont;
    font-weight: normal;
    font-style: italic;
    src: url(/Resources/Fonts/Charter-Italic.woff2);
}

@font-face {
    font-family: Charter-WebFont;
    font-weight: bold;
    font-style: normal;
    src: url(/Resources/Fonts/Charter-Bold.woff2);
}

@font-face {
    font-family: Charter-WebFont;
    font-weight: bold;
    font-style: italic;
    src: url(/Resources/Fonts/Charter-BoldItalic.woff2);
}

/* -- monaspace */
@font-face {
    font-family: MonaspaceXenon-WebFont;
    font-weight: normal;
    font-style: normal;
    src: url(/Resources/Fonts/MonaspaceXenon-Regular.woff2);
}

@font-face {
    font-family: MonaspaceXenon-WebFont;
    font-weight: normal;
    font-style: italic;
    src: url(/Resources/Fonts/MonaspaceXenon-Italic.woff2);
}

@font-face {
    font-family: MonaspaceXenon-WebFont;
    font-weight: bold;
    font-style: normal;
    src: url(/Resources/Fonts/MonaspaceXenon-Bold.woff2);
}

@font-face {
    font-family: MonaspaceXenon-WebFont;
    font-weight: bold;
    font-style: italic;
    src: url(/Resources/Fonts/MonaspaceXenon-BoldItalic.woff2);
}

/* -- 汉字 -- */
@font-face {
    font-family: Hanzi-WebFont;
    font-weight: normal;
    font-style: normal;
    src: url(/Resources/Fonts/NotoSerifCJKsc-Regular.otf);
}

@font-face {
    font-family: Hanzi-WebFont;
    font-weight: normal;
    font-style: italic;
    src: url(/Resources/Fonts/LXGWWenKaiGB-Regular.ttf);
}

@font-face {
    font-family: Hanzi-WebFont;
    font-weight: bold;
    font-style: normal;
    src: url(/Resources/Fonts/NotoSerifCJKsc-Bold.otf);
}

@font-face {
    font-family: Hanzi-WebFont;
    font-weight: bold;
    font-style: italic;
    src: url(/Resources/Fonts/LXGWZhenKaiGB-Regular.ttf);
}

a {
    text-decoration: none;
}

a:link {
    color: green;
}

a:visited {
    color: teal;
}

a:hover {
    color: white;
    background-color: olive;
}

a:active {
    border: dashed;
}

body {
    font-family: Charter-WebFont, Hanzi-WebFont, serif;
    max-width: 600px;
}

code, pre {
    font-family: MonaspaceXenon-WebFont, monospace, Hanzi-WebFont, serif;
}

.post-date, .post-title, #archive, .header, .title {
    text-align: center;
}

.header {
    font-size: xx-large;
    margin-bottom: 1rem;
}

.navbar td, #archive, .blogroll tr {
    box-shadow: 1px 1px 1px silver;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid;
}

.navbar {
    margin: auto;
}

.blogroll td {
    border-top: 1px solid;
    border-bottom: 1px solid;
    box-shadow: 0px 1px 1px silver;
    text-align: center;
}

.blogroll td:first-child {
    border-left: 1px solid;
    border-radius: 4px 0px 0px 4px;
}

.blogroll td:last-child {
    border-right: 1px solid;
    box-shadow: 1px 1px 1px silver;
    border-radius: 0px 4px 4px 0px;
}

.blogroll img{
    width: 2rem;
}
