* {
    text-rendering: geometricPrecision !important;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: Comme-WebFont;
    src: url(/Resources/Fonts/Comme[wght].woff2) format("woff2-variations");
}

@font-face {
    font-family: GeistMono-WebFont;
    src: url(/Resources/Fonts/GeistMono[wght].woff2) format("woff2-variations");
}

a {
    text-decoration: none;
}

body {
    font-family: Comme-WebFont, sans-serif;
    max-width: 768px;
}

code, pre {
    font-family: GeistMono-WebFont, monospace, sans-serif;
}

.post-date::before {
    content: "📅 ";
}

.post-title {
    margin-block-start: 0;
    text-align: center;
}

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#content {
    a:link {
	color: green;
    }

    a:visited {
	color: teal;
    }

    a:hover {
	color: white;
	background-color: olive;
    }

    a:active {
	border: dashed;
    }
}
